body {
       color: black;
	   background-color: lightblue;
	   
} 



article {
	   background-color: white;
	   margin: 10px;  /* marges externes*/
	   padding: 10px; /* marges internes*/
	   border:1px solid black;
	   
} 

h1, h2 {
       text-align: center;
	   
} 
.titre_job {
       color: blue;
	   
} 


table
{
    border-collapse: collapse; $
}
td
{
    border: 1px solid black;
	background : B0C4DE;
}